.container {
    border: solid 1px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.tb {
    border: solid 3px green;
    width: 100%;
    height: 300px;
}

.tb td {
    border: solid 3px blue;
}

.td-s-1 {
    background-color: aqua;
}

.td-s-2 {
    background-color: yellow;
}

.col-2-bg {
    background-color: yellow;
}

.sveti-3-4-foni {
    background-color: goldenrod;
}

.cont-height {
    height: 700px;
    background-color: aquamarine;
    background-image: url(bg3.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size:contain;
    background-size: cover;
    /* background-position: center; */
}