.header{
    background-color: green;
    height: 100px;
    width: 70%;
    margin: auto;
}

.content{
    width: 70%;
    margin: auto;
    display: flex;
}

.nav{
    width: 20%;
    /* float: left; */
}

.nav div{
   background-color: aqua;
   padding: 10px;
   margin: 10px;
}

.info{
    /* float: left; */
    padding: 10px;
}

.footer{
    height: 30px;
    background-color: green;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}