div {
    height: 150px;
    width: 250px;
    border: solid 5px;
}

.div-pos-1 {
    background-color: brown;
    position: absolute;
    /* left: 200px; */
    width: 350px;
    bottom: 100px;
    right: 50px;
}

.div-pos-2 {
    background-color: yellowgreen;
    width: 300px;
    position: absolute;
    right: 150px;
}

.div-pos-3 {
    background-color: royalblue;
    position: absolute;
    top:100px;
    left: 100px;
}